@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  display: flex !important;
  align-items: center !important;
  gap: 5px !important;
}

.overflow-y-auto {
  scrollbar-width: none;
}

.overflow-y-auto::-webkit-scrollbar {
  display: none;
}
